<div class="container">
  <div class="row">
    <img class="col-6" src="/assets/stock-chart.webp" alt="Entry stock chart">
    <img class="col-6" src="/assets/stock-chart.webp" alt="Exit stock chart">
  </div>
  <hr />
  <div class="row">
    <h6>Czy transakcja była korzystna?</h6>
    <p>Tak/Nie</p>
  </div>
  <div class="row">
    <h6>Czy właściwie ustaliłeś punkt wejścia w rynek?</h6>
    <p>Tak/Nie</p>
  </div>
  <div class="row">
    <h6>Czy wstępne zlecenie STOP LOSS zostało umieszczone zbyt daleko czy zbyt blisko?</h6>
    <p>Za daleko/Za blisko</p>
  </div>
  <div class="row">
    <h6>Dlaczego i o ile?</h6>
    <p>Odpowiedź</p>
  </div>
  <div class="row">
    <h6>Czy przesunąłeś swój STOP do punktu break even za szybko, czy za późno?</h6>
    <p>Za szybko/Za późno</p>
  </div>
  <div class="row">
    <h6>Czy twoje zlecenia zabezpieczające STOP były zbyt luźne, czy zbyt ciasne?</h6>
    <p>Zbyt luźne/Zbyt ciasne</p>
  </div>
  <div class="row">
    <h6>Czy rozpoznałeś sygnały wyjścia z rynku?</h6>
    <p>Tak/Nie</p>
  </div>
  <div class="row">
    <h6>Czy wyszedłeś z rynku po rozpoznaniu sygnału?</h6>
    <p>Tak/Nie</p>
  </div>
  <div class="row">
    <h6>/*ngIf poprzednie pytanie odp NIE/ Dlaczego?</h6>
    <p>Odpowiedź</p>
  </div>
  <div class="row">
    <h6>Co odczuwałeś na różnych etapach transakcji?</h6>
    <p>Odpowiedź</p>
  </div>
  Dodaj statystyki jako osobny komponent po prawej, jaki były maksymalny zysk na papierze itp.
  <hr />
  Dodaj wnioski jako osobny komponent po prawej, pod statystykami
</div>
